html,
body {
  padding: 0;
  margin-top: 20px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.sign-ctn {
  border: 1px solid #d3d3d3;
  box-shadow: 0px 43px 350px rgba(0, 0, 0, 0.06),
    0px 12.9632px 105.515px rgba(0, 0, 0, 0.0452747),
    0px 5.38427px 43.8254px rgba(0, 0, 0, 0.0419759),
    0px 1.94738px 15.8508px rgba(0, 0, 0, 0.0376014);
  border-radius: 20px;
}

.sidebar-ctn {
  background-color: #0086cf;
  border: 1px solid #0086cf;
  box-shadow: 0px -12px 58px rgba(0, 0, 0, 0.1),
    0px -1.21644px 31.6042px rgba(0, 0, 0, 0.0565328),
    0px 1.81514px 25.6505px rgba(0, 0, 0, 0.0400212),
    0px 2.57825px 19.2801px rgba(0, 0, 0, 0.0324889),
    0px 1.87048px 10.7559px rgba(0, 0, 0, 0.0225201);
  border-radius: 20px;
  color: white;
  padding: 5px;
  padding-inline: 40px;
  padding-block: 100px;
  height: 880px;
}

.font-bold {
  font-weight: 700;
}
